<% content_for :title, "Partida #{@game.id}" %>
<%= turbo_stream_from @game %>

<div class="w-full max-w-6xl mx-auto">

  <div id="<%= dom_id(@game, :content) %>">
    <%= render 'games/content', game: @game %>
  </div>

  <div class="mt-8 text-center">
    <% if @game.status != "em_andamento" && current_player && @game.players.include?(current_player) %>
      <%= button_to "Voltar ao Lobby", player_path(current_player), method: :delete, class: "rounded-md px-5 py-3 bg-gray-200 hover:bg-gray-300 text-gray-800 font-medium" %>
    <% end %>
  </div>
</div>
